<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <h3>Reminisence</h3>
    <div>
      <p>Welcome to Reminisence, a place to store your memories.</p>
    </div>
    <div>
      <a href="/auth/google">Google Log In</a>
    </div>

    <div>
      <div>
        <div>
          <h1>Login</h1>

          <form action="/users/login" method="POST">
            <div>
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
              />
            </div>
            <div>
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <button type="submit">Login</button>
          </form>
          <p>No Account? <a href="/users/register">Register</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
