<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h3>Reminisence</h3>
    <div class="section">
      <p>Welcome to Reminisence, a place to store your memories.</p>
    </div>
    <div class="section">
      <a href="/auth/google">Google Log In</a>
    </div>
  </body>
</html>
